body {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
}

nav li{
	display: inline;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 25px;
	padding: 0;
	margin-right: 30px;
}

nav {
	background-color: black;
}

nav ul {
	margin: 0;
	padding-bottom: 5px;
}

.jumbotron {
	background-image: url(buffet.jpg);
	width: auto;
	height: 500px;
	border-left: 50px;
	background-size: cover;
}

.jumbotron h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 60px;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	margin-left: 80px;
	text-shadow: 3px 3px 3px black;
}

.jumbotron p {
	position: relative;
	margin-top: 0;
	color: white;
	font-size: 25px;
	font-family: 'Kaushan Script', cursive;
	margin-left: 90px;
	text-shadow: 1px 1px 1px black;
}

.welcome p {
	border-top: 0px;
	padding-top: 120px;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 5px;
}

.information {
	margin-top: 0;
	background-color: white;
}

.information h2 {
	margin-left: 150px;
	border-top: 0px;
	padding-top: 30px;
	margin-top: 0;
	font-family: 'Playball', cursive;
}

.information p {
	font-family: 'Lato', sans-serif;
	margin-left: 175px;
	margin-right: 400px;
	font-size: 20px;
	margin-bottom: 0;
}

.information img {
	position: relative;
	float: right;
	height: 150px;
	right: 100px;
	width: auto;
}